<ul class="flex-container">
  <% @ideas.each do |idea| %>
  <li class="flex-item">
    <% idea.photos.each do |photo| %>
    <p class="flexphoto"> <%= link_to idea_path(idea.id) do %> <%= image_tag photo.image %> </p>
    <div class="flexinfo">
      <h1 class="flextitle"><%= link_to idea.name, idea_path(idea.id)%></h1>
      <p class="flexprice"> € <%= link_to idea.price, idea_path(idea.id) %><p>
    </div>

    <% end %>
    <% end %>
    <% end %>
  </li>
</ul>
